{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-text mt-2 d-flex justify-content-start align-items-center" style="width: 100%;">
            <img src="{% static 'img/logo.svg' %}" alt="logo" style="width: 180px;">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Charts -->
    {% if not request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'tanaman' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Tanaman</span></a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hasil_panen' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Hasil Panen</span></a>  
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pendapatan' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Keuangan</span></a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'statistik_panen' %}">
            <i class="fas fa-fw fa-calculator"></i>
            <span>Statistik</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/admin-side.svg' %}" alt="..." style="width: 150px; height: 150px;">
        <p class="text-center">
            Sistem Pemantauan
            <br>
            Hasil Panen
        </p>
    </div>
</ul>
